/*****************************************************************************************
*
*	name: _structure.less
*	path: base/_structure.less
*	description: page base structure
*	author: Gina Chiriac
*	e-mail: ginabuna@gmail.com
*
*****************************************************************************************/

body {
  .oswald;
  font-size: (@font-size-small - 1);
  color: @primary-text-color;
  padding-top: 50px;
}

a {
  &:hover {
    text-decoration: none;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
