/app/config/development/
/app/vendor/
cache
logs
.idea
cms.iml
composer.lock
public/assets/mg_admin/js/header.min.js
public/assets/default/js/header.min.js
public/assets/default/css/header.min.css
public/assets/mg_admin/css/header.min.css