/*****************************************************************************************
*
*	name: fonts.less
*   path: config/fonts.less
*	version: 1.0.0
*	description: fonts structure
*	author: Gina Chiirac
*	url: http://www.magnxpyr.com
*
*****************************************************************************************/


.robotoThin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.robotoLight {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.robotoMedium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.robotoBold {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}