body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    padding-bottom: 40px;
    padding-top: 60px;
    height: 100%;
    background-color: #ecf0f5;
}

h2 {
    font-size: 24px;
    line-height: 26px;
}

div.center {
    text-align: center;
}

div.left {
    text-align: left;
}

div.right {
    text-align: right;
}

div.login-or-signup {
    padding-left: 40px;
    padding-top: 20px;
}

select {
    padding: 5px;
    height: auto;
}

div.scaffold h2 {
    margin: 10px;
}

.alert {
    line-height: 5px;
}

.row {
    margin-left: 0;
}

.form-group label.help {
    border-bottom: 1px dashed #888;
    cursor: help;
}

.form-max-size {
    max-width: 300px;
}

.hint-block {
    display: none;
}

.sticky-value {
    padding: 6px 12px;
    background: lightyellow;
    white-space: pre;
    word-wrap: break-word;
}

div.popover {
    max-width: 500px;
    word-wrap: break-word;
    text-align:left;
}

nav > .container {
    padding-bottom: 15px;
    height: 40px;
}


.topbar .header {
    background-color: #F8F8F8;
    border-bottom: 1px solid #E0E0E0;
    padding: 40px 0 0;
}

.navbar-brand {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 40px;
    padding: 10px 10px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title_text {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding: 20px;
}

.title_subtext {
    font-size: 13px;
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.container-footer {
    text-align: center;
    padding: 30px;

}

/* AdminLTE multilevel menu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: transparent solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}