
.box-body {
  .dataTables_wrapper {
    .searchFilterWrapper {
      display: inline-block;
      padding-bottom: (@grid-gutter-width/6);
      @media(min-width: @screen-md) {
        padding-right: @grid-gutter-width;
      }
    }
  }
  #searchFilterContainer {
    padding: (@grid-gutter-width/2) 0;
    .input-wrapper {
      padding: (@grid-gutter-width/6) 0;
      input {
        width: 100%;
      }
    }
  }
}
