/*****************************************************************************************
*
*	name: Admin Styling
*	path: admin/admin.less
*	description: admin styling
*	author: Gina Chiriac
*	e-mail: ginabuna@gmail.com
*
*****************************************************************************************/

@dateTableActionWidth: 45px;

.box-body {
  .dataTables_wrapper {
    .searchFilterBtn {
      display: inline-block;
      padding-bottom: (@grid-gutter-width/6);
      @media (min-width: @screen-md) {
        padding-right: @grid-gutter-width;
      }
    }
    #searchFilterContainer {
      padding: (@grid-gutter-width/2) 0;
      .input-wrapper {
        padding: (@grid-gutter-width/6) 0;
        input {
          width: 100%;
        }
      }
    }
    #table {
      thead {
        th {
          &[data-column-id='actions'] {
            text-align: center;
            width: @dateTableActionWidth !important;
          }
          &:last-child {
            &.control {
              min-width: (@grid-gutter-width/2);
            }
          }
        }
      }
      tbody {
        td {
          vertical-align: middle;
          &:last-child {
            &.control {
              &:before {
                height: 14px;
                width: 14px;
              }
            }
          }
          &.dt-action-wrapper {
            width: @dateTableActionWidth !important;
          }
        }
      }
    }
  }
}

.datatable-action {
  list-style: none;
  -webkit-padding-start: 0;
  li {
    float: left;
    width: 50%;
    text-align: center;
    padding: 0 (@grid-gutter-width/6);
  }
}

//package manager
.box-body {
  &.upload-package {
    padding: 0;
    form {
      display: inline-block;
      #packageUpload {
        width: auto;
      }
    }

    .install-btn {
      font-size: 13px;
      border-color: transparent;
      line-height: 22px;
      display: inline-block;
      margin-top: -5px;
      margin-left: 0;
    }
  }
}

//Categories
.sortable {
  .list-item {
    .col {
      &:last-child {
        a {
          float: left;
          width: 50%;
          text-align: center;
          padding: 0 5px;
        }
      }
    }
  }
}

//Edit menu
.edit-menu {
  #wrapper-show_title {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding-left: 10px;
  }
}

//View level
.view-level {
  .form-group {
    >.control-label {
      width: 50px;
    }
    >.form-group {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      padding-left: 10px;
      &#wrapper-name {
        display: block;
        padding: 0;
      }
    }
  }
}

//widget
#wrapper-widget-images {
  .input-wrapper {
    margin-bottom: 10px;
    width: 100%;
    .input-group {
      width: 100%;
    }
    .input-group-btn {
      vertical-align: top;
    }
    >.mce-container {
      width: ~"calc(100% - 35px)" !important;
      padding-left: 35px;
    }
  }
}

.input-group-addon {
  &.delete {
    color: #ff6666;
  }
}

.input-wrapper {
  margin-bottom: 10px;
  width: 100%;
}

.round-left {
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}

.round-right {
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.straight-left {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.straight-right {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.gray-bg {
  background-color: #eee !important;
}