/*****************************************************************************************
*
*	name: articles page
*   path: pages/_articles_page.less
*	version: 1.0.0
*	description: article's page structure
*	author: Gina Chiirac
*	url: http://www.magnxpyr.com
*
*****************************************************************************************/


.post-container {
  .post-title {
    font-weight: 600;
    text-transform: capitalize;
    color: @brand-dark;
    padding: (@grid-gutter-width/1.5) 0;
  }
  .meta {
    border-bottom: 1px solid lightgray;
    padding-bottom: (@grid-gutter-width/2);
    margin-bottom: @grid-gutter-width;
  }
  .post-content {
    line-height: (@grid-gutter-width/1.2);
    margin-bottom: (@grid-gutter-width*2);
  }
  .post-admin-tab {
    margin-top: @grid-gutter-width;
  }
}